streamlit==1.9.0
brotli==1.0.9
brotlipy==0.7.0
cmasher==1.6.1
configparser==5.2.0
cryptography==2.9.2
Cython==0.29.21
dl==0.1.0
highlight_text==0.1
HTMLParser==0.0.2
ipaddr==2.2.0
keyring==21.2.1
lxml==4.5.2
matplotlib==3.4.3
numpy==1.18.1
ordereddict==1.1
pandas==1.0.5
Pillow==9.1.0
protobuf==3.20.1
pyOpenSSL==22.0.0
scikit_learn==1.0.2
seaborn==0.11.1
soccerplots==1.0.0
wincertstore==0.2.1
xmlrpclib==1.0.1
